.word-list {
    &__container {
    }
    &__item {
    }
}
.word-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;

    &--in-empire {
        background-color: #ffd7d7;
    }

    &--is-empire {
        background-color: #ffd38a;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &__title {
        max-width: 60%;
        hyphens: auto;
        word-break: break-word;
    }

    &__controller {
        display: flex;
        justify-content: space-between;
    }
}
